<div class="graficos-contenedor">
  <p-selectButton [options]="grafico.tiposDeGraficos"
                  [ngModel]="grafico.tipoGrafico()"
                  (onChange)="grafico.vistaSeleccionada($event)"
                  unselectable="true"
                  optionLabel="label"
                  optionValue="value" />
  <div class="grafico" *ngIf="!grafico?.cargando() && grafico.nodoArbolSeleccionado && grafico.nodoArbolSeleccionado.data">
    <p-chart [type]="grafico.tipo()" [data]="grafico.data()" [options]="grafico.options()" />
  </div>
  <app-seleccione-nodo *ngIf="!grafico.nodoArbolSeleccionado || !grafico.nodoArbolSeleccionado.data"></app-seleccione-nodo> 
  <app-cargando *ngIf="grafico?.cargando() && grafico.nodoArbolSeleccionado?.data"></app-cargando> 
</div>
