.contenedor-cabecera {
  width: 100%;
  height: 100%;
  display: flex;
  -ms-flex-direction: inherit;
  -webkit-flex-direction: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.cabecera-dcha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
