<div class="contenedor">
  <div class="contenedor-scroll">
    <app-detalle-briefing *ngFor="let entrada of briefing.lista()" [entrada]="entrada" (click)="briefing.adjuntos(entrada)">
    </app-detalle-briefing>
  </div>
    
  <div class="inferior-derecha">
    <div class="aviso" *ngIf="!briefing.nodoEjercicio()">Seleccione un nodo de tipo EJ</div>
    <p-button icon="pi pi-plus" [rounded]="true" (click)="briefing.nuevo()"
              [disabled]="!briefing.nodoEjercicio()" title="Nuevo briefing"/>
  </div>
</div>
