.contenedor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contenedor-scroll {
    height: 100%;
    overflow: auto;  
}

.inferior-derecha {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  display:flex;
  flex-direction: row;
  align-items:center;
  gap: 1rem;
}

.aviso {
    background-color: #eee;
    color:black;
    padding: 0.3rem;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
}


@media (max-width: 768px) {
  .inferior-derecha {
    bottom: 80px;
  }
}
