.cargando {
    width: 100%;
    height: 100px;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items:center;
}

.datos {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.data {
    font-weight: bold;
}

img {  
  max-height: 350px;  
  width: 100%;
  height: auto;
}
