<div class="contenedor">
  <div class="contenedor-izq">
    <div class="bold">
      <span class="ellipsis">{{ nodo?.data?.Descripcion }}</span>
      <!--<<button (click)="eliminar()">Eliminar</button>-->
    </div>
    <div class="rango-fechas">
      {{ rangoFechas }}
    </div>
  </div>
  
  <div class="contenedor-dcha">    
    <div>
      <i *ngIf="inversion === undefined" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>      
      <div *ngIf="inversion" class="bold">{{ inversion | currency:'EUR':'symbol':'1.2-2':'es' }}</div>
    </div>        
    <p-button icon="pi pi-filter" severity="primary" title="Filtro" (click)="filtroVisible = true" />
  </div>
</div>
<p-sidebar [(visible)]="filtroVisible" position="right">
  <app-filtro></app-filtro>
</p-sidebar>
