<div class="filtro-contenedor">
  <app-buscador-filtro [buscador]="elem" *ngFor="let elem of (filtro.elementosFiltro$ | async)"
                       (buscadorModificado)="filtro.buscadorModificado($event)"></app-buscador-filtro>

  <label for="inicio">Desde</label>
  <p-calendar [ngModel]="filtro.inicio()"
              inputId="inicio"
              view="month"
              dateFormat="mm/yy"
              [readonlyInput]="true"
              (onSelect)="filtro.inicioModificado($event)" />

  <label for="fin">Hasta</label>
  <p-calendar [ngModel]="filtro.fin()"
              inputId="fin"
              view="month"
              dateFormat="mm/yy"
              [readonlyInput]="true"
              (onSelect)="filtro.finModificado($event)" />
</div>
