<div class="arbol-container">
  <div class="arbol-scroll" #contenedor>
    <p-tree #tree
            [value]="usuario.arbol()"
            selectionMode="single"
            loadingMode="icon"
            scrollHeight="100%" class="tree font-bold"
            [selection]="(usuario.nodoSeleccionado$ | async)"
            (onNodeExpand)="usuario.nodoExpandido($event)"
            (onNodeSelect)="usuario.nodeSelect($event)">
      <ng-template let-node pTemplate="default">
        <div class="nodo" [title]="toolTipNodo(node)">
          <div class="tipo">
            {{ tipoNodo(node) }}
          </div>
          <div class="label">
            {{ node.label }} ({{ node.data?.Rol | lowercase }})
          </div>
        </div>
      </ng-template>
    </p-tree>
  </div>

  <p-speedDial [model]="usuario.items" direction="up" (onClick)="usuario.defineMenuArbol()"
               [style]="{ position: 'absolute', bottom: '50px', right: '50px' }" />

  <p-dialog [header]="usuario.tituloVentanaNodo" [modal]="true" [(visible)]="usuario.visibleVentanaNodo" [style]="{ width: '25rem' }">

    <div class="bloque">
      <label for="nombre" class="font-semibold w-6rem">Nombre completo</label>
      <input pInputText id="nombre" class="flex-auto" autocomplete="off" [(ngModel)]="usuario.nombre" />
    </div>
    <div class="bloque">
      <label for="login" class="font-semibold w-6rem">Login</label>
      <input pInputText id="login" class="flex-auto" autocomplete="off" [(ngModel)]="usuario.login" />
    </div>
    <div class="bloque">
      <label for="rol" class="font-semibold w-6rem">Rol</label>
      <p-dropdown id="rol" [options]="usuario.roles" [(ngModel)]="usuario.rol" optionLabel="label" optionValue="value" [style]="{ width: '100%' }" appendTo="body"></p-dropdown>
    </div>
    <div class="contenedor-botones">
      <p-button label="Cancelar" severity="secondary" (onClick)="usuario.operacionReset()" />
      <p-button label="Guardar" (onClick)="usuario.guardar()" />
    </div>
  </p-dialog>
</div>

<app-cargando class="cargando" *ngIf="usuario.cargando"></app-cargando>

