<div class="arbol-container">
  <div class="arbol-scroll" #contenedor>
    <p-tree #tree
            [value]="usuario.arbol()"
            selectionMode="single"
            loadingMode="icon"
            scrollHeight="100%" class="tree font-bold"
            [selection]="(usuario.nodoSeleccionado$ | async)"
            (onNodeExpand)="usuario.nodoExpandido($event)"
            (onNodeSelect)="usuario.nodeSelect($event)">
      <ng-template let-node pTemplate="default">
        <div class="nodo" [title]="toolTipNodo(node)">
          <div class="tipo">
            {{ tipoNodo(node) }}
          </div>
          <div class="label">
            {{ node.label | uppercase }}
          </div>
        </div>
      </ng-template>
    </p-tree>
  </div>

  <p-speedDial [model]="usuario.items" direction="up" (onClick)="usuario.defineMenuArbol()"
               [style]="{ position: 'absolute', bottom: '50px', right: '50px' }" />

  <p-dialog [header]="usuario.tituloVentanaNodo" [modal]="true" [(visible)]="usuario.visibleVentanaNodo" [style]="{ width: '25rem' }">

    <div class="flex align-items-center gap-3 mb-3">
      <label for="descripcion" class="font-semibold w-6rem">Descripción nodo</label>
      <input pInputText id="descripcion" class="flex-auto" autocomplete="off" [(ngModel)]="usuario.descripcionNodoVentana" />
    </div>
    <div class="contenedor-botones">
      <p-button label="Cancelar" severity="secondary" (onClick)="usuario.arbolOperacionReset()" />
      <p-button label="Guardar" (onClick)="usuario.guardarDescripcion()" />
    </div>
  </p-dialog>
</div>

<app-cargando class="cargando" *ngIf="usuario.cargando"></app-cargando>

