<div class="entrada" (click)="click()" [ngClass]="{ 'seleccionable': seleccionable, 'terminada': incidencia?.finalizado }">
  <div class="dos-contenidos">
    <div>
      <i class="pi pi-lock" *ngIf="incidencia?.finalizado"></i>      
      INC:{{ incidencia?.id }}
    <span *ngIf="(incidencia?.noLeidos??0) > 0">
      <p-badge [value]="incidencia!.noLeidos"  />
    </span>
    </div>
    <div class="titulo">{{ incidencia?.titulo }}</div>  
  </div>  
  <div class="des">{{ incidencia?.des }}</div>
  <div class="dos-contenidos">
    <div>{{ incidencia?.usuario }}</div>
    <div *ngIf="incidencia?.fecha">Últ: {{ formatoFechaHora(incidencia?.fecha) }}</div>
  </div>
  <div class="finalizar" *ngIf="!seleccionable && !incidencia?.finalizado">
    <p-button label="Cerrar incidencia" icon="pi pi-lock" severity="warning" (click)="confirmar($event)" />
  </div>
</div>
<p-confirmDialog />
