<div class="contenedor">
  <div class="cabecera">
    <div>
      <p-button icon="pi pi-angle-left" [rounded]="true" [outlined]="true" (click)="briefing.vista.set('lista')" title="Volver" />
    </div>
    <app-detalle-briefing [entrada]="briefing.entrada" [seleccionable]="false" class="width-100"></app-detalle-briefing>
  </div>
  <div class="contenedor-adjuntos">
    <div class="cabecera-adjuntos">
      <div>Documentos adjuntos:</div>
    </div>
    <div class="lista-adjuntos">
      <div class="lista-scroll">
        <app-briefing-adjunto-detalle
           [adjunto] ="adj"
           *ngFor="let adj of briefing?.listaAdjuntos()"
           (click)="briefing!.download(adj?.Id)">
        </app-briefing-adjunto-detalle>       
      </div>
    </div>
  </div>
  <div class="pie">
    <div class="adjuntar">Adjuntar fichero: escriba la descripción y seleccione el archivo</div>
    <div class="descripcion-adjunto">
      <input type="text" pInputText [(ngModel)]="descripcion" (keydown)="onKeydown($event)" />
      <p-fileUpload mode="basic"
                    chooseLabel=""
                    chooseIcon="pi pi-paperclip"
                    name="fichero"
                    [url]="url()"
                    [auto]="true"
                    title="Añadir adjunto"
                    maxFileSize="9000000"
                    [disabled]="!descripcion"
                    (onUpload)="onUpload($event)"
                    (onError)="errorEnUpload($event)" />
    </div>
  </div> 
</div>
