<div class="arbol-container">
  <div class="arbol-scroll">
    <p-tree #tree
            [value]="(arbol.arbol$ | async)"
            selectionMode="single"
            loadingMode="icon"
            scrollHeight="100%" class="tree font-bold"
            [selection]="(arbol.nodoSeleccionado$ | async)"
            (onNodeExpand)="arbol.nodoExpandido($event)"
            (onNodeSelect)="arbol.nodeSelect($event)">     
      <ng-template let-node pTemplate="default">
        <div class="nodo" [title]="toolTipNodo(node)">
          <div class="tipo">
            {{ tipoNodo(node) }}
          </div>
          <div class="label">
            {{ node.label }}
          </div>
        </div>        
      </ng-template>
    </p-tree>
  </div>
</div>
