.contenedor-procesando {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.procesando-fondo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
}

.procesando-progreso {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  display: flex;
  -ms-flex: inherit;
  -webkit-flex: inherit;
  flex: inherit;
  justify-content: center;
  align-items: center;  
}

.procesando-img {
    width: 100px;
}
