<div class="contenedor-buscador">
  <div>{{ buscador.titulo }}</div>
  <div class="buscador-boton">
    <form [formGroup]="formGroup">
      <p-autoComplete formControlName="buscador"
                      [suggestions]="buscador.coincidentes"
                      (completeMethod)="buscar($event)"
                      (onSelect)="seleccionado($event)"
                      class="ancho-completo"
                      optionLabel="value"
                      appendTo="body"
                      />
    </form>
    <p-button icon="pi pi-times" severity="secondary" [disabled]="buscador.seleccionado === undefined" (click)="limpiar()" /> 
  </div>
</div>
