<div class="entrada" [ngClass]="{ 'seleccionable': seleccionable }">
  <div class="mas-grande bold">{{ entrada?.Descripcion }}</div>
  <div>
    Periodo:
    <span class="bold">{{ entrada?.Inicio  | date: 'dd/MM/yyyy' }}</span> -
    <span class="bold">{{ entrada?.Fin  | date: 'dd/MM/yyyy' }}</span>
  </div>

  <div>
    Presupuesto: <span class="bold">{{ entrada?.Presupuesto | currency:'EUR':'symbol':'1.2-2':'es' }}</span> - <span class="bold">{{ entrada?.DesMedio }}</span>
  </div>
  <div>
    <span class="bold">{{ entrada?.Usuario }}</span> ({{ entrada?.FechaCreacion }})
  </div>
</div>
