.entrada {
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  background-color: #eee;
  padding: 1rem;
  margin: 3px;
}

.mas-grande {
  font-size: 1.1rem;
}

.bold {
  font-weight: bold;
}

.seleccionable {
  color: black;
}

  .seleccionable:hover {
    background-color: var(--primary-color);
    color: white;
  }
