<div class="contenedor">
  <app-cabecera></app-cabecera>
  <div class="contenido-variable">    
    <app-nodo-inversion></app-nodo-inversion>
    <div class="variable-contenido">
      <app-arbol *ngIf="(estadoService.selectorVista.vista$ | async) === vista.arbol"></app-arbol>
      <app-graficos *ngIf="(estadoService.selectorVista.vista$ | async) === vista.grafico"></app-graficos>
      <app-mapa *ngIf="(estadoService.selectorVista.vista$ | async) === vista.mapa"></app-mapa>
      <app-incidencias *ngIf="(estadoService.selectorVista.vista$ | async) === vista.listaChat"></app-incidencias>
    </div>
    <div class="variable-cabecera">
      <app-selector-vista></app-selector-vista>
    </div>
  </div>
</div>
