<div *ngIf="mensaje?.tipo === TipoEntradaMensaje.fecha" class="fecha">
  <div class="entrada-fecha">
    {{ mensaje?.fecha }}
  </div>  
</div>
<div *ngIf="mensaje?.tipo === TipoEntradaMensaje.mio" class="mio">
  <div class="entrda-mio">
    <div *ngIf="mensaje?.imagen">      
      <p-image [src]="imagen"
               alt="Image"
               class="imagen"
               width="80%"
               [preview]="true" />
    </div>
    <div>{{ mensaje?.texto }}</div>
    <div class="hora">{{ mensaje?.hora }}</div>
  </div>  
</div>
<div *ngIf="mensaje?.tipo === TipoEntradaMensaje.otro" class="otro">
  <div class="entrada-otro">
    <div class="usuario">{{ mensaje?.usuario }}</div>
    <div>{{ mensaje?.texto }}</div>
    <div class="hora">{{ mensaje?.hora }}</div>
  </div>
</div>


