<div class="login-container">
  <p-card *ngIf="!procesando">
    <div class="login-form-container">
      <div class="login-header">
          <div>
            <img src="/assets/images/logo-100.png" alt="Logo empresa" />
          </div>
          <div>Espacio Cliente</div>
      </div>

      <div [formGroup]="loginForm" (keydown.enter)="acceder()" class="login-form">
        <label for="login">Email</label>
        <input type="text" pInputText id="login" formControlName="email" />

        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="login-error">
          <div *ngIf="email?.hasError('required')">
            El email es un campo obligatorio
          </div>
          <div *ngIf="email?.hasError('email')">
            El email debe tener un formato correcto
          </div>
        </div>

        <label for="pwd">Contraseña</label>
        <input type="password" pInputText id="pwd" formControlName="password" />

        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="login-error">
          <div *ngIf="password?.hasError('required')">
            La contraseña es un campo obligatorio
          </div>
          <div *ngIf="password?.hasError('minlength')">
            La contraseña debe tener como mínimo 4 caracteres
          </div>
        </div>
        <div class="mb-3">
          <div *ngIf="error" class="msg-error">
            {{ error }}
          </div>
        </div>
        <div class="login-boton">
          <p-button label="Acceder" icon="pi pi-user" (click)="login()" [disabled]="!loginForm.valid"></p-button>
        </div>
      </div>
    </div>
  </p-card>  
</div>
<div class="contenedor-procesando" *ngIf="procesando">
  <app-cargando></app-cargando>
</div>


