<div class="contenedor">
  <app-cabecera></app-cabecera>
  <p-splitter [style]="{ height: '100%' }" [panelSizes]="[40, 60]"  styleClass="mb-5">
    <ng-template pTemplate>
        <app-arbol></app-arbol>
        <!--<div class="arbol">
            Arbol
        </div>-->
    </ng-template>
    <ng-template pTemplate>
      <div class="contenido-variable">
        <div class="variable-cabecera">
          <app-selector-vista></app-selector-vista>
        </div>
        <div class="variable-inversion">Inversión</div>
        <div class="variable-contenido">Contenido detalle</div>
      </div>
    </ng-template>
</p-splitter>
</div>
