.contenedor {
  width: 100svw;
  height: 100svh;
  display: grid;
  grid-template-rows: 40px auto;
  gap: 5px;
  overflow: hidden;
}

.cabecera {
  background-color: aqua;
}

p-splitter {
    height: 100%;
    overflow: hidden;
}

.contenedor-arbol {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.arbol {
    width: 100%;
    background-color: antiquewhite;
}

.contenido-variable {
    background-color: white;
    display: grid;
    width: 100%;
    gap: 5px;
    height: 100%;
    overflow: hidden;
    grid-template-rows: 40px 30px auto;
}

.variable-cabecera { 
    width: 100%;
    height: 100%;
}

.variable-inversion {
  background-color: darkgreen;
  width: 100%;
  height: 100%;
  color: white;
}

.variable-contenido {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

