.contenedor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inferior-derecha {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.aviso {
  background-color: #eee;
  color: black;
  padding: 0.3rem;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
}

.contenedor-entradas {
  width: 100%;
  height: 100%;
  overflow: auto;
}

app-incidencia:hover {
  background-color: red; /* var(--primary-color);*/
  color: white;
  cursor: pointer;
}

.mt {
  margin-top: 10px;
}

.botones {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2px;
}

.btn {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
}

@media (max-width: 768px) {
  .inferior-derecha {
    bottom: 80px;
  }
}
