<div class="contenedor">
  <div class="contenedor-entradas" *ngIf="!incidencias.procesando()">
    <button *ngFor="let inc of incidencias.lista()" (click)="incidencias.onSeleccionada(inc)" class="btn" [title]="inc?.titulo">
      <app-incidencias-detalle [incidencia]="inc"
                               (seleccionada)="incidencias.onSeleccionada($event)"></app-incidencias-detalle>
    </button>
    
    <div *ngIf="incidencias.nodo?.Id && incidencias?.lista()?.length === 0">
      No hay incidencias
    </div>
  </div>

  <p-dialog header="Nueva incidencia" [modal]="true" [(visible)]="incidencias.visibleNuevaIncidencia" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Establezca un título para la incidencia</span>
    <div class="mt">
      <label for="titulo" class="font-semibold w-6rem">Título</label>
      <input pInputText id="titulo" class="flex-auto" [(ngModel)]="incidencias.titulo" autocomplete="off" />
    </div>
    <div class="botones">
      <p-button label="Cancelar" severity="secondary" (onClick)="incidencias.visibleNuevaIncidencia = false" />
      <p-button label="Crear" (onClick)="incidencias.aceptaNuevaIncidencia()" [disabled]="!incidencias.titulo || incidencias.titulo.length === 0" />
    </div>
  </p-dialog>

  <div class="inferior-derecha">
    <div class="aviso" *ngIf="!incidencias.nodoCampania()">Seleccione un nodo de tipo CA</div>
    <p-button icon="pi pi-plus" [rounded]="true" (click)="incidencias.nuevo()"
              [disabled]="!incidencias.nodoCampania()" />
  </div>
</div>
