.contenedor-cabecera {
  width: 100%;
  height: 100%;
  display: flex;
  -ms-flex-direction: inherit;
  -webkit-flex-direction: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--primary-color);
  color: white;
}

.logo-app {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}

.cabecera-dcha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 500px) {
  .logo-app {
    font-size: 1rem;
  }
}
