.contenedor-botones {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 20px;
    height: 100%;
}

@media (max-width: 768px) {

    .contenedor-botones {
        justify-content: space-around;
        gap: 0;
    }
}
