/* You can add global styles to this file, and also import other style files */

@import url("primeicons/primeicons.css");


body {
    margin: 0;
    height: 100svh;
    width: 100svw;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.tree {
  height: 100% !important;
}

.p-tree-container {
  overflow: hidden !important;
}

.p-tree-wrapper {
  overflow: hidden !important;
}

.p-autocomplete {
  display: block;
  width: 100% !important;
}

.p-inputtext {
    width: 100%;
}

p-chart {
    max-width: 100%!important;
    max-height: 100%!important;
    overflow:hidden;
}

p-chart div {
    height: 100%;
    width: 100%;
}

canvas {
  max-width: 100% !important;
  max-height: 100% !important;
}
