/* You can add global styles to this file, and also import other style files */

@import url("primeicons/primeicons.css");


body {
    margin: 0;
    height: 100svh;
    width: 100svw; 
}

.tree {
  height: 100% !important;
}

.p-tree-container {
  overflow: hidden !important;
}

.p-tree-wrapper {
  overflow: hidden !important;
}
