<div class="contenedor">
  <app-cabecera></app-cabecera>
  <p-splitter [style]="{ height: '100%' }" [panelSizes]="[40, 60]">
    <ng-template pTemplate>
      <div class="contenedor-arbol">
        <app-arbol></app-arbol>
      </div>      
    </ng-template>
    <ng-template pTemplate>
      <div class="contenido-variable">
        <div class="variable-cabecera">
          <app-selector-vista></app-selector-vista>
        </div>
        <app-nodo-inversion></app-nodo-inversion>
        <div class="variable-contenido">
          <app-graficos *ngIf="(estadoService.selectorVista.vista$ | async) === vista.grafico"></app-graficos>
          <app-mapa *ngIf="(estadoService.selectorVista.vista$ | async) === vista.mapa"></app-mapa>
          <app-incidencias *ngIf="(estadoService.selectorVista.vista$ | async) === vista.incidencias"></app-incidencias>
          <app-briefing *ngIf="(estadoService.selectorVista.vista$ | async) === vista.briefing"></app-briefing>
        </div>
      </div>
    </ng-template>
</p-splitter>
</div>
